<div class="pageContainer">
Cleanroom Validation
Cleanroom

Areas for which environmental cleanliness is of paramount importance, such as operating theatres, instrument reprocessing cleanrooms and pharmaceutical manufacturing cleanrooms are subject to regular monitoring and validation activities.

These areas should be routinely sampled in accordance with the requirements of the International Organisation for Standards BS EN ISO 14644 and BS EN ISO 14698, which include testing for effective air filtration through air particle counting and testing for environmental flora (bacteria, yeast and other fungi) through contact plates, settle plates and personnel monitoring.

Airborne Particulate Counts

The International Organisation for Standards (ISO) 14644 Cleanrooms and Associated Controlled Environments specifies the classification of air cleanliness in terms of the concentration of airborne particles in cleanrooms and other controlled environments. Cleanrooms are classified in an 8-tier system, with class 1 cleanrooms being the most particle-free and class 8 cleanrooms allowing the most particles. Hospital cleanrooms are class 8, but they must still be routinely tested to demonstrate the suitability of the area for medical device processing.
</div>
