<div class="pageContainer">
  <div class="parallax parallaxBackgroundImg noBGImage">
    <div class="logoDiv">
      <a class="pageLogoImg"></a>
    </div>
    <div class="morethan">
      <a class="morethanImg"></a>
    </div>

  </div>
  <div class="rainbowBar"></div>

  <div id="pageContent" class="flexCols">
    <div>
      <app-timeline></app-timeline>
    </div>

    <div class="ourStoryDetails section1">
      We’d love to hear from you! goto our <a href="contactus">contact us</a> page, or contact us directly to see how we
      can help you.
    </div>
    <div class="ourStoryDetails section2">
      20/30 Labs Ltd is a UKAS accredited testing laboratory (No. 4236) in accordance with ISO 17025, and was
      established in 2005 to perform microbiological analysis and research into hospital decontamination.
    </div>
    <div class="ourStoryDetails section3">
      Over the years 20/30 Labs has gained vast industry knowledge and contacts and is today considered to be the UK’s
      leading microbiological consultancy specialising in the microbiological analysis of waters, the decontamination of
      medical devices (specifically endoscopes), automated washer-disinfectors and endoscope drying cabinets.
    </div>
    <div class="ourStoryDetails section4">
      As the trusted technical resource for the principal equipment manufacturers, we set the gold standard for every
      aspect of water and decontamination equipment analysis from identifying the problem to developing innovative
      solutions for fault resolution. All samples are treated with the highest laboratory standard and adherence to
      regulations is controlled and maintained at all times.
    </div>
    <div class="ourStoryDetails section5">
      With a passion for infection prevention and years of experience, 20/30 Labs continually adapts to the
      ever-changing environment. With a new, purpose-built 20,000 sq. ft. of laboratory space, including a unique
      research facility, and employing highly qualified and dedicated scientists, 20/30 Labs can offer the complete
      microbiological service. 20/30 Labs prides itself in providing customers with a reliable, versatile and personal
      service with an emphasis on quality assurance.
    </div>
    <div class="ourStoryDetails section6">
      20/30 Labs Ltd have the expertise to provide clients with specialist research and development testing. Accredited
      to BS EN ISO 13485 for “The provision of microbiological testing and consultancy for the medical device industry”
      we are able to offer a wide range of microbiological validation services for medical devices including the
      determination of decontamination efficacy and the enumeration of microbiological growth in medical device storage
      systems.
    </div>
    <div class="ourStoryDetails section7">
      20/30 Labs Ltd have the expertise to provide clients with specialist research and development testing. Accredited
      to BS EN ISO 13485 for “The provision of microbiological testing and consultancy for the medical device industry”
      we are able to offer a wide range of microbiological validation services for medical devices including the
      determination of decontamination efficacy and the enumeration of microbiological growth in medical device storage
      systems.
    </div>
  </div>
</div>
