

.parallaxBackgroundImg {
  //background-image: url("../../../../assets/images/2030-square.jpeg");

}

.ourStoryDetails {
  border: 1px solid black;
}

[class*="section"] {
  padding-bottom: 50px;
}

.pageLogoImg {
  content: url("../../../../assets/images/2030-LOGO_aboutus.png");
}
