<div class="pageContainer">Renal Testing
  Renal tests are performed to evaluate kidney (renal) functions. These tests use dialysis water, this water has been
  treated to meet the requirements of The International Organisation of Standards (BS ISO 23500-3:2019) Water for
  haemodialysis and related therapies and making it suitable for use in haemodialysis applications, including the
  preparation of dialysis fluid, reprocessing of dialysers, and the preparation of concentrates.

  Haemodialysis and haemodiafiltration can expose the patient to more than 500L of water per week. This increased
  exposure requires control and monitoring of water quality to avoid excess exposure to known or suspected harmful
  substances or microorganisms.

  We monitor and analyse dialysis water using the following methods:

  Total Viable Count (TVC) – this is a valuable trend analysis tool for monitoring the overall microbial quality of a
  water supply. It is a quantitative test that can determine the number of viable microorganisms present in a water
  sample but is unable to identify individual species.

  Compliance with ISO 13959 Water for haemodialysis and related therapies requires that renal waters be sampled for TVC
  monthly.

  Endotoxin Analysis – Endotoxins are found in Gram-negative bacteria, such as Pseudomonas aeruginosa, E. coli and
  Neisseria meningitidis. They are comprised of extremely antigenic molecules called lipopolysaccharides (LPS) that
  provoke a powerful immune response when detected by the immune system. The fever and inflammation that can be
  generated as the immune cells fight the infection, can lead to the onset of septic shock, an often fatal condition.

  Endotoxins are particularly dangerous due to their ability to generate an immune response even when their host
  bacterium is dead, and the bacterial cell has broken down. The endotoxin test can detect these freely circulating LPS
  molecules.

  Compliance with The International Organisation of Standard (ISO) 13959 Water for haemodialysis and related therapies
  requires that renal waters be sampled for endotoxin monthly.

  Chemical Analysis

  20/30 Labs uses the Thermo Scientific™ Gallery™. Plus, a fully automated, high-capacity analyser to provide fast,
  reproducible results on a suite of chemical tests to ensure full compliance with the following ISO standards.

  ISO 13959 Water for haemodialysis and related therapies stipulates the maximum allowable levels of toxic chemicals,
  dialysis fluid electrolytes and other trace elements permitted in renal dialysis water.

  ISO 13959 Water for haemodialysis and related therapies requires that renal waters be sampled for chemical analysis on
  a quarterly basis.
</div>
