<div class="pageContainer">
  <div class="parallax parallaxBackgroundImg">
    <div class="logoDiv">
      <a class="pageLogoImg"></a>
    </div>
    <div class="morethan">
      <a class="morethanImg"></a>
    </div>
  </div>
  <div class="rainbowBar">

  </div>
  <div class="pageContent home">
    <div id="row1">
      <div class="commercial">
        <div class="commercialHeader">Commercial Services</div>
        <div class="commercialContent">
          <mat-tab-group>
            <mat-tab label="Clinical Microbiology">
              <div class="clinicalServices">
                <div class="clinicalIntro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem
                  sed
                  provident facere numquam autem sapiente vitae? Atque unde voluptatibus doloribus aperiam
                  necessitatibus eligendi cumque veniam sit maxime, neque nulla?</div>
                <div class="clinicalImg1"></div>

              </div>
            </mat-tab>
            <mat-tab label="Environmental Microbiology">
              <div class="envServices">
                <div class="envIntro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem sed
                  provident facere numquam autem sapiente vitae? Atque unde voluptatibus doloribus aperiam
                  necessitatibus eligendi cumque veniam sit maxime, neque nulla?</div>

                <div class="env1Title">Endoscopy/CSSD</div>
                <div class="env1Desc">Weekly, quarterly and annual water testing service, monitoring water quality
                  across various sites.</div>
                <div class="env1ViewDetails"><a href="endoscopy">View Details</a></div>


                <div class="env2Title">CESC Testing<BR>(Controlled Endoscope Storage Cabinets)</div>
                <div class="env2Desc">Quarterly and annual validations performed on controlled endoscope storage
                  cabinets.</div>
                <div class="env2ViewDetails"><a href="cesc">View Details</a></div>

                <div class="env3Title">HTM 01-01 Part C</div>
                <div class="env3Desc">An annual requirement to extract steam from sterilisers to test the water quality.
                </div>
                <div class="env3ViewDetails"><a href="htm0101partc">View Details</a></div>

                <div class="env4Title">HTM 01-01 Part D</div>
                <div class="env4Desc">An annual requirement to test the water quality of instrument washer-disinfectors.
                </div>
                <div class="env4ViewDetails"><a href="htm0101partd">View Details</a></div>

                <div class="env5Title">Potable Water</div>
                <div class="env5Desc">Water testing services for drinking water, including TVC monitoring, legionella,
                  pseudomonas and e-coil analysis.</div>
                <div class="env5ViewDetails"><a href="potablewater">View Details</a></div>

                <div class="env6Title">Cleanroom Validation</div>
                <div class="env6Desc">Regular testing for effective air filtration using air particle counting and
                  testing for environmental flora such as bacteria.</div>
                <div class="env6ViewDetails"><a href="cleanroomvalidation">View Details</a></div>

                <div class="env7Title">Environmental Monitoring</div>
                <div class="env7Desc">Routine monitoring of cleanrooms using contact and settle plates, Active air
                  sampling and swabs.</div>
                <div class="env7ViewDetails"><a href="envmonitoring">View Details</a></div>

                <div class="env7Title">Renal Testing</div>
                <div class="env7Desc">Regular monitoring and trend analysis of dialysis water to test kidney (renal)
                  functions.</div>
                <div class="env7ViewDetails"><a href="renaltesting">View Details</a></div>

              </div>
            </mat-tab>
            <mat-tab label="Medical Devices">
              <div class="medServices">
                <div class="medIntro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem sed
                  provident facere numquam autem sapiente vitae? Atque unde voluptatibus doloribus aperiam
                  necessitatibus eligendi cumque veniam sit maxime, neque nulla?</div>
                <div class="medImg1"></div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="private">
        <div class="privateHeader">Private Services</div>
        <div class="privateContent">
          <mat-tab-group>
            <mat-tab label="Covid-19">
              <div class="covidServices">
                <div class="covidIntro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem sed
                  provident facere numquam autem sapiente vitae? Atque unde voluptatibus doloribus aperiam
                  necessitatibus eligendi cumque veniam sit maxime, neque nulla?</div>
                <div class="covidImg1"></div>
                <div class="covidImg2"></div>
                <div class="covidImg3"></div>
                <div class="covidImg4"></div>
                <div class="covidImg5"></div>
                <div class="covidImg6"></div>
              </div>
            </mat-tab>
            <mat-tab label="Wellness">Wellness stuff here</mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

  </div>
