<div class="pageContainer">Potable Water Services
Total Viable Count (TVC) by Pour Plate

Potable water (drinking water), spa, pool and hydrotherapy water, and cooling towers should be routinely monitored using Total viable count (TVC). Unlike endoscopy waters that undergo TVC by membrane filtration, potable water is cultured on pour plates.

TVC is a valuable trend analysis tool for monitoring the overall microbial quality of a water supply. It is a quantitative test that can determine the number of viable microorganisms present in a water sample but is unable to identify individual species.

Legionella Analysis

Under the Health & Safety at Work Act 1974, there is a duty of care in the UK to perform routine analysis of water samples for the presence of Legionella, a group of organisms that cause pneumonia-like illnesses particularly in those that are elderly or immunocompromised.

The Health & Safety Executive (HSE) has published ‘The Approved Code of Practice: Legionnaires’ disease: The control of Legionella bacteria in water systems (L8)’; this is a practical guide for employers to help them manage and control the risks in their water systems.

20/30 Labs is registered with the Legionella Control Association for Analytical Services and are a UKAS accredited laboratory (4236).

Pseudomonas Analysis

Pseudomonas aeruginosa is a common environmental bacterium typically found in soil and water. To the majority of people, it is harmless, however, in healthcare settings, it must be controlled due to its inclination to infect the immunocompromised and cause nosocomial or healthcare-acquired infections (HAIs).

The Health Technical Memorandum (HTM) 04-01 Safe Water in Healthcare Premises and HTM 01-06 Management and Decontamination of Flexible Endoscopes detail the requirements for the sampling, methods of analysis and remediation of Pseudomonas aeruginosa in water in various settings including healthcare settings and public buildings.

Escherichia Coli and Coliform Analysis

Tests for coliform bacteria and Escherichia coli (E. coli) are the most important routine microbiological examinations carried out on drinking water. These tests provide a sensitive means for detecting faecal contamination, assessing raw water quality, the effectiveness of water treatment and disinfection, and for monitoring the quality of potable water in distribution.
</div>
