<div class="pageContainer">

  Endoscopy / CSSD
  Weeklies

  Hospitals are required to test the final rinse water from their endoscope washer-disinfectors on a weekly basis, this
  ensures a rapid response to emerging problems of deteriorating water quality. As required in the Health Technical
  Memorandum (HTM) 01-06 Management and Decontamination of Flexible Endoscopes.

  Weekly water testing includes a Total Viable Count (TVC) by membrane filtration, hardness, and electrical
  conductivity. In addition to these tests, we can also test for Pseudomonas aeruginosa, pH and appearance.

  Performance Qualification Testing

  We can also provide quarterly and annual tests for endoscope washer-disinfectors. As required in the HTM 01-06
  Management and Decontamination of Flexible Endoscopes.

  The following tests are included as part of the quarterly and annual requirements:

  Total Viable Count (TVC)
  Pseudomonas aeruginosa
  Conductivity, hardness, pH and appearance
  Total Organic Carbon (TOC)
  Environmental Mycobacteria
  Surrogate devices (annual requirement only)
</div>
