<div class="pageContainer">
  <div class="parallax parallaxBackgroundImg noBGImage">
    <div class="logoDiv">
      <a class="pageLogoImg"></a>
    </div>
    <div class="morethan">
      <a class="morethanImg"></a>
    </div>
  </div>
  <div class="rainbowBar"></div>

  <div id="pageContent" class="flexRows">
    <div class="info">we have worked hard ....etc to get these...add some chaff in here</div>
    <div class="accr1">
      <div>Accreditation Name</div>
      <div>Accreditation Information</div>
    </div>
    <div class="accr2">
      <div>Accreditation Name</div>
      <div>Accreditation Information</div>
    </div>
  </div>
</div>
