<div class="pageContainer">
  <div class="parallax parallaxContactUsImg">
    <div class="logoDiv">
      <a class="pageLogoImg"></a>
    </div>
    <div class="morethan">
      <a class="morethanImg"></a>
    </div>

  </div>
  <div class="rainbowBar"></div>

  <div id="pageContent" class="flexCols">
    <div class="row1">
      <div class="socialMediaListTitle">We are available for contact on the following social media platforms</div>
      <div class="socialMediaList">
        <a>
          <fa-icon [icon]="['fab', 'facebook-square']" size="4x"></fa-icon>
        </a>
        <a>
          <fa-icon [icon]="['fab', 'instagram-square']" size="4x"></fa-icon>
        </a>
        <a>
          <fa-icon [icon]="['fab', 'linkedin']" size="4x"></fa-icon>
        </a>
        <a>
          <fa-icon [icon]="['fab', 'twitter-square']" size="4x"></fa-icon>
        </a>
      </div>
    </div>
    <div class="row2">
      <div class="map">
        <div class="mapHeader">Find us</div>
        <div class="mapContent">
          salfjhasldn asjbaln faspjfa fpinasd a;s dam daindkasd;a,s d;kns a,sd a'sknasd a, d
          <app-googlemap></app-googlemap>

        </div>a
      </div>
      <div class="contactUs">
        <div class="contactUsHeader">Contact Us</div>
        <div class="contactUsContent">
          salfjhasldn asjbaln faspjfa fpinasd a;s dam daindkasd;a,s d;kns a,sd a'sknasd a, dsalfjhasldn asjbaln faspjfa
          fpinasd a;s dam daindkasd;a,s d;kns a,sd a'sknasd a, dsalfjhasldn asjbaln faspjfa fpinasd a;s dam
          daindkasd;a,s d;kns a,sd a'sknasd a, dsalfjhasldn asjbaln faspjfa fpinasd a;s dam daindkasd;a,s d;kns a,sd
          a'sknasd a, dsalfjhasldn asjbaln faspjfa fpinasd a;s dam daindkasd;a,s d;kns a,sd a'sknasd a, dsalfjhasldn
          asjbaln faspjfa fpinasd a;s dam daindkasd;a,s d;kns a,sd a'sknasd a, dsalfjhasldn asjbaln faspjfa fpinasd a;s
          dam daindkasd;a,s d;kns a,sd a'sknasd a, dsalfjhasldn asjbaln faspjfa fpinasd a;s dam daindkasd;a,s d;kns a,sd
          a'sknasd a, d
        </div>
      </div>
    </div>
  </div>
